@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  display: block;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  background-color: gray;
}

.colors__menu {
  font-size: 20px;
  height: 230px;
  width: 400px;
  margin: 100px auto;
  text-align: center;
}

.menu__list_n1 {
  display: block;
  padding: 12px 0px 0px 0px;
  width: 400px;
  height: 50px;
  background-color: #000;
  color: #dadf20;
  transition-duration: 0.5s;
}

.menu__list_n1:hover {
  color: #ac00ff;
  border-radius: 20px;
}

.menu__list_n2 {
  display: block;
  padding: 12px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  width: 400px;
  height: 50px;
  background-color: #000;
  color: #f40b0c;
  transition-duration: 0.5s;
}

.menu__list_n2:hover {
  color: #fff;
  border-radius: 20px;
}

.menu__list_n3 {
  display: block;
  padding: 12px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  width: 400px;
  height: 50px;
  background-color: #3b1600;
  color: #36d900;
  transition-duration: 0.5s;
}

.menu__list_n3:hover {
  color: #ff4af3;
  border-radius: 20px;
}

.menu__list_n4 {
  display: block;
  padding: 12px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  width: 400px;
  height: 50px;
  background-color: #fff;
  color: #415cbe;
  transition-duration: 0.5s;
}

.menu__list_n4:hover {
  color: #f91006;
  border-radius: 20px;
}